<div class="row">
    <div class="col-xs-12">
        <app-shopping-list-edit></app-shopping-list-edit>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="errMsg.length > 0">{{errMsg}}</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3>Shopping List</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
          <li  *ngFor="let ingredient of ingredients; let i = index">
            <a style="cursor: pointer;" (click)="updateExistingIngredient(i)" class="list-group-item"> 
                {{ ingredient.formatted() }}
            </a>
          </li>
        </ul>        
    </div>
</div>

