<div class="row">
    <div class="col-xs-12">
        <app-shopping-list-edit></app-shopping-list-edit>
    </div>
</div>
<div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="errMsg.length > 0">{{errMsg}}</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h3>Shopping List</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <a style="cursor: pointer;" class="list-group-item" *ngFor="let ingredient of ingredients"> 
                {{ ingredient.formatted() }}
            </a>
        </ul>        
    </div>
</div>

