<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['recipe']" *ngIf="loggedInUser">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['shopping-list']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!loggedInUser">
          <a [routerLink]="['/']">Login/Register</a>
        </li>
        <li *ngIf="loggedInUser"><a style="cursor:pointer;" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>