<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs-12">
            <form (ngSubmit)="submit(f)" ngForm #f="ngForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2"><label for="email">Email : </label></div>
                        <div class="col-xs-10"><input type="text" class="form-control" name="email" ngModel required email #email="ngModel"></div>
                    </div>
                </div>
                <div *ngIf="email.touched && !email.valid" class="alert alert-danger">You must enter a valid Email!</div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2"><label for="subscription"> Subscription : </label></div>
                        <div class="col-xs-10">
                            <select name="subscription" [ngModel]="subscription" class="form-control">
                                <option *ngFor="let opt of subscriptionOptions" [value]="opt"> {{ opt }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2"><label for="password">Password : </label></div>
                        <div class="col-xs-10"><input type="password" class="form-control" name="password" ngModel required #password="ngModel"></div>
                    </div>    
                </div>
                <div *ngIf="password.touched && !password.valid" class="alert alert-danger">You must provide a password!</div>
                <div *ngIf="f.touched && !f.valid" class="alert alert-danger" style="margin-top:10px;">Please fix errors in form!</div>
                <button type="submit" [disabled]="!f.valid" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>