<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 appHighlighter (toggle)="toggle=$event">Welcome to the coooolest test page, with the extra OO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnK9NyQoYSvOxA56heVvg7R0whG94j26zRZk1VqajK6tmLa1VOwZUY_-zC4lXfJIawr7U&usqp=CAU" 
                *appRainbowSwirl="toggle"/>
        </div>
    </div>
</div> 